#top #main_contents dl dt:after, #top #main_contents dl#easy_search ul:after,
#main_contents dl dt:after, #main_contents dl#easy_search ul:after{
	visibility: visible;
}
#top #main_contents dl#campaign_info dt,
#top #main_contents dl#direct_search dt,
#top #main_contents dl#easy_search dt,
#top #main_contents dl#easy_search,
#top #main_contents dl#campaign_info,
#top #main_contents dl#direct_search,
#main_contents dl#campaign_info dt,
#main_contents dl#direct_search dt,
#main_contents dl#easy_search dt,
#main_contents dl#easy_search,
#main_contents dl#campaign_info,
#main_contents dl#direct_search{
	background: none;
	background-color: #fff;

}
button, fieldset, form, input, label, legend, select, textarea{
	margin: 0;
	padding: 0;
}
body *{
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#entirety{
	width: 100%;
	overflow-x: hidden;
	background: #eff8ff;
}
#header{
	width: 100%;
}
#contents{
	width: 100%;
}
#sub_contents{
	float: right;
	width: 100%;
}
#main_contents{
	width: 100%;
	float: left;
	padding-bottom: 0;
}
#top #main_contents dl#easy_search table,
#main_contents dl#easy_search table{
	width: 100%;
}
#top #main_contents dl#easy_search li{
	margin: 4px 0;
}
#titlebar{
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
#sub_title{
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	color: #2c3b82;
	font-weight: bold;
	padding: 0 20px;
	padding-top: 3px;
	text-align: center;
	font-size: 11px;
	letter-spacing: -1px;
}
#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
#top #main_contents dl#easy_search dt,
#main_contents dl#easy_search dt,
dl dt{
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	color: #2c3b82;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.3), 0 -1px 0px rgba(255,255,255,0.2);
	border-radius: 3px 3px 0 0;
}
dl#easy_search dt .sss,
#top #main_contents dl#easy_search dt .sss{
	font-size: 21px;
	margin-right: 2px;
	margin-left: 2px;
}
.sc1{
	position: relative;
	top: -4px;
}
#top #main_contents dl#easy_search dd,
#main_contents dl#easy_search dd{
	background: none;
}
dl>dt.boxtitle:first-child:after{
	height: 8px !important;
}
.ranking_resultsp{
	padding: 0 20px;
}
.box h2{
	position: relative;
	border: 4px solid #EEEEEE;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#347dd4+0,2869b7+100 */
background: rgb(52,125,212); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(52,125,212,1) 0%, rgba(40,105,183,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(52,125,212,1) 0%,rgba(40,105,183,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(52,125,212,1) 0%,rgba(40,105,183,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#347dd4', endColorstr='#2869b7',GradientType=0 ); /* IE6-9 */
height: 60px;
color: #fff;
line-height: 60px;
padding-left: 84px;
}
.official_site{
	position: relative;
	width: 100%;
	height: 60px;
	border: 4px solid #eeeeee;
	display: block;
	margin-top: 12px;
	color: #fff !important;
	text-decoration: none !important;
}
.official_site span{
	width: 100%;
	height: 100%;
	background-image: url(../spimg/button2.png);
	background-size: auto 60px;
	background-position: center;
	font-size: 20px;
	color: #fff !important;
	text-align: center;
	line-height: 52px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	text-decoration: none !important;
	display: block;
	box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}
.official_site span:before,
.official_site span:after{
	content: "";
	display: block;
	visibility: visible !important;
	-webkit-transform: rotate(29deg);
	-ms-transform: rotate(29deg);
	-o-transform: rotate(29deg);
	transform: rotate(29deg);
	border: 6px solid transparent;
	border-right: 11px solid transparent;
	border-top: 6px solid #fff;
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -3px;
}
.official_site span:before{
	border-top: 6px solid transparent;
	border-bottom: 6px solid #ddd;
	-webkit-transform: rotate(-29deg);
	-ms-transform: rotate(-29deg);
	-o-transform: rotate(-29deg);
	transform: rotate(-29deg);
	margin-top: -6px;

}
.box h2 a{
	color: #fff;
	position: absolute;
	font-size: 14px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.box h2 img{
	background-color: #fff;
	left: 0px;
	top: 0px;
	position: absolute;
	height: 100%;
	width: auto;
}
#footer_menu_page dl.wp_contents dt{
	background-image: none;
}
#footer_menu_page dl.wp_contents dd{
	background: none;
	padding: 0;
}
#top #main_contents dl#easy_search,
#top #main_contents dl#campaign_info,
#top #main_contents dl#direct_search,
#main_contents dl#easy_search,
#main_contents dl#campaign_info,
#main_contents dl#direct_search,
dl#rank, .box,
#search_result dl.result,
#side_menu_page dl.ranking,
#footer_menu_page dl.wp_contents{
	margin: 0 auto;
	width: 98% !important;
	border-radius: 3px;
	background-color: #fff;
	margin-bottom: 20px;
}
#top #main_contents dl#easy_search td,
#main_contents dl#easy_search td{
	position: relative;
}
#top #main_contents dl#easy_search table,
#main_contents dl#easy_search table{
	border-top: none;
}
#top #main_contents dl#easy_search dl#search_more dt,
#main_contents dl#easy_search dl#search_more dt{
	height: 40px;
	padding: 0 20px;
	margin-top: 12px;
}
#top #main_contents dl#easy_search dd,
#main_contents dl#easy_search dd{
	padding-bottom: 20px;
}
.rank_caption{
	position: relative;
	display: table;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 12px;
}
.rank_caption:after{
}
.rank_left_img{
	position: relative;
	left: 0;
	width: 92px;
	height: auto;
	height: 80px;
	display: table-cell;
}
.rank_left_img img{
	width: 80px;
}
.rankright{
	vertical-align: top;
	height: auto;
	display: table-cell;
	color: #e72323;
	font-size: 14px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.box.ranking table{
	border: 1px solid #D9EEFE;
	border-radius: 3px;
	margin: 12px 0;
	width: 100%;
}
.box.ranking table th{
	background-color: #CAE7FE;
	padding: 8px 12px;
	white-space: nowrap;
}
.box.ranking table th,
.box.ranking table td,
.box.ranking table{
	border-collapse: collapse;
	border: 1px solid #D9EEFE;
}
.box.ranking table td{
	padding: 0 12px;
}
.ranking_resultsp{
	padding-bottom: 20px;
	margin-top: 20px;
	border-bottom: 1px solid #eee;
}
.moreranklink{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdca68+0,fcc04c+100 */
background: rgb(253,202,104); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(253,202,104,1) 0%, rgba(252,192,76,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(253,202,104,1) 0%,rgba(252,192,76,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(253,202,104,1) 0%,rgba(252,192,76,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdca68', endColorstr='#fcc04c',GradientType=0 ); /* IE6-9 */

	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size: 20px;
	color: #fff !important;
	text-decoration: none !important;
	text-align: center;
	border-radius: 3px;
	line-height: 52px;
	text-shadow: 0 2px 4px rgba(0,0,0,0,0.3);
	width: auto;
	height: 52px;
	display: block;
	margin: 0 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
	text-shadow: 0 2px 6px rgba(0,0,0,0.2);

}
.flist{

}
#footer_navi01 dt{
	font-size: 16px;
	color: #fff !important;
	padding-left: 20px !important;
	padding-top: 8px !important;
}
.titlecap{
	margin-top: 0px;
	color: #666;
	margin-bottom: 12px;
	padding: 0 20px;
}
.rank_item_title{
	margin-bottom: 12px !important;
}
.contents_title{
	padding-left: 0 !important;
	background: none !important;
	float: none !important;
	margin-top: 0 !important;
	font-size: 16px !important;
}
#footer_menu_page dl.wp_contents dt{
	padding: 20px;
	height: auto;
}
#footer_menu_page #main_contents .entry{
	margin: 0;
}
#footer_menu_page #main_contents h1{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 8px;
}
#footmark{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 12px;
	position: relative;
	background-image: none;
	margin-top: 4px;
}
#footmark:after{
	position: absolute;
	content: "";
	display: block;
	left: 0px;
	height: 100%;
	width: 6px;
	background-color: #ddd;
	top: 0;

}
#ranking_notice{
	width: 100%;
	margin: 0 auto !important;
	padding: 20px;
}
#side_menu_page #main_contents h1,
#search_result #main_contents h1{
	width: 100%;
	margin: 0 auto;
}
#search_result #main_contents h1 img{
	height: auto !important;
}
#search_result dl.result{
	background-image: none;
}
#search_result dl.result dt{
	background: none;
}
.s_items{
	padding: 0 12px;
	padding-bottom: 12px;
	padding-top: 12px;
}
.pickup .s_items{
	padding-top: 4px;
}
.search_result_items{
	margin-top: 20px;
}
.s_items_header{
	display: table;
	table-layout: fixed;
	width: 100%;
}
.upper_left{
	width: 72px;
	height: 60px;
	display: table-cell;
	vertical-align: middle;
}
.upper_left img{
	width: 60px;
	height: 60px;
}
.list_item_title{
	display: table-cell;
	font-size: 20px;
	position: relative;
	height: 100%;
	font-weight: bold;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	color: #2c3b82;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.3), 0 -1px 0px rgba(255,255,255,0.2);
}
.list_item_title a{
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #2c3b82;
	text-decoration: none;
	font-weight: bold;
}
.s_items_upper{
	display: table;
	width: 100%;
	padding: 10px 0;
	table-layout: fixed;
}
.s_items_upper .upper_right{
	width: 100%;
	height: auto;
	display: table-cell;
	vertical-align: middle;
}

.s_items_table table,
#search_result dl.result table{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #eee;
}
.s_items_table td,
#search_result dl.result td{
	font-size: 11px;
	padding: 4px;
	border: 1px solid #eee !important;
}
.s_items_table th,
#search_result dl.result th,
#search_result dl.result.pickup th{
	border: none;
	background-color: #ff8d1c;
	width: 80px;
	font-size: 11px !important;
	text-align: center !important;
	padding: 4px !important;
	border: 1px solid #eee;
}
.s_items_table th,
#search_result dl.result th{
	background-color: #FFE69D;
	width: 80px;
	font-size: 11px;
}
.s_items_table th.vl,
#search_result dl.result th.vl{
	font-size: 10px;
}
.s_items_table.quad,
#search_result dl.result .quad{
	margin-bottom: -1px !important;
	table-layout: fixed;
}
.s_items_table table{
	margin-top: 0 !important;
}
.s_items_table.quad table{
	margin-bottom: 0 !important;
	margin-top: 0px !important;
}
.s_items_table.quad table,
.quad table{
	table-layout: fixed;
}

.s_items_table.quad th,
#search_result dl.result .quad th{
	width: auto;
	font-size: 11px;
	width: 80px;
}
#search_result dl.result .sort_box_a{
	table-layout: fixed;
}
#search_result dl.result .sort_box_a,
#search_result dl.result .sort_box_a tr,
#search_result dl.result .sort_box_a td,
#search_result dl.result .sort_box_a th{

	border: none !important;
}
#search_result dl.result .sort_box{
	width: 100%;
	table-layout: fixed;
	font-size: 12px;
	font-weight: normal;
	border: none ;
	margin-bottom: 0px ;
}
.s_items_table td,
#search_result dl.result .sort_box td{
	padding: 8px 0;
}
.s_items_table td,
#search_result dl.result td{
	border: none;
	text-align: center;
}
.s_items_table td span,
#search_result dl.result .sort_box_a td span{
}
#search_result dl.result .sort_box_a td span:after{
	height: 1px;
	width: 70%;
	left: 50%;
	bottom: 4px;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	position: absolute;
	display: block;
	content: "";
	background-color: #bddbf2;
}

.top_rank_banner{
	margin-bottom: 12px;
	display: block;
}
.sprankbanner{
	width: 100%;
	display: block;
	margin: 0 auto;
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}
.campbanner{
	width: 100%;

	padding: 12px;
	padding-top: 0;
	margin: 0 auto;
	display: block;
}
.spbanner{
	width: 100%;
	height: auto;
	display: block;
}
.spbanner.b2{
	margin-top: 12px;
}

strong{
	color: #e00;
}

.sp_top_txt{
	background-color: #fff;
	margin: 12px 0;
	padding: 12px;
	font-size: 13px;
	border: 1px dotted #aaa;
	color: #555;
}
table {
  border-collapse: collapse;
}
table td, table th {
  padding: 10px;
}
table th {
  background-color: #eee;
}
@media screen and (max-width: 340px) {
#header h1{
	padding: 0;
}
#header #favorite{
	right: -8px;
}
#sub_title{
	padding-left: 4px;
}
}




