@charset "shift_jis";
@import url("./css/tables.css");
@import url("./css/commonstyles.css");
/*
==================================================
スタイルの初期化
==================================================
*/
*{
	margin: 0;
	padding: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption {
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
div, p, h1, h2, h3, h4, h5, h6 {
	_zoom: 1;
	display: block;
	text-align: left;
}
img {
	border: 0;
}
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
==================================================
基本スタイル
==================================================
*/
body {
	background-color: #F8F8F8;
	color: #313131;
	font-size: 13px;
	line-height: 180%;
	text-align: center;
}
h1, h2, h3, h4, h5, h6, .title, dt {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Verdana,'ＭＳ Ｐゴシック',sans-serif;
	font-weight: 700;
}
.clear {
	clear: both;
	font-size: 1px;
}
/* リスト
==================================================
*/
ul {
	list-style: none url(img/li.png) outside;
	padding: 10px 20px;
}
ol {
	list-style-type: decimal;
	padding: 10px 24px;
}
/* リンク
==================================================
*/
a { color: #007ACC; }
a:hover {
	color: #007ACC;
	text-decoration: none;
}
a:hover img {
	background: none !important;
}
a img { background: none !important; }
#main a:hover, #menu a:hover, #rmenu a:hover {
	left: 1px;
	position: relative;
	top: 1px;
}
/*
==================================================
全体
==================================================
*/
/* レイアウト
==================================================
*/
#wrapper {
	background-image: url(img/wrapper_bg.png);
	background-position: center top;
	background-repeat: repeat-y;
	margin: 0 auto;
	text-align: center;
	width: 906px;
}
#wrapper .inner {
	margin: 0 auto;
	text-align: center;
	width: 900px;
}
#contents {
	padding-bottom: 50px;
	position: relative;
}
#siteNavi {
	font-size: 12px;
	margin-bottom: 10px;
}
/* ページ上部へ戻る
==================================================
*/
#pagetop {
	bottom: 5px;
	clear: both;
	position: absolute;
	right: -5px;
	z-index: 5;
}
#pagetop a {
	background-image: url(img/pagetop_button.png);
	background-position: center top;
	background-repeat: no-repeat;
	display: block;
	height: 14px;
	overflow: hidden;
	position: relative;
	text-indent: -9999px;
	width: 116px;
}
/* 検索ボックス
==================================================
*/
#searchbox {
	background-image: url(img/search_input.png);
	background-position: left top;
	background-repeat: no-repeat;
	font-size: 12px;
	height: 26px;
	text-align: right;
	position: absolute;
	top: 10px;
	left:50%;
	width: 310px;
	margin-left: 140px;
}
#searchbox input {
	position: absolute;
	right: 10px;
	top: 0;
	vertical-align: middle;
}
#searchbox form {
	margin: 0;
	padding: 0;
}
#searchbox .skwd {
	border: 0 none;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	right: 81px;
	top: 3px;
	width: 226px;
}
/* 回り込み・回り込み解除
==================================================
*/
.txt-img {
}
.txt-img img{
	margin: 0 8px 8px 8px;
}
.center {
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: center;
}
.float-l { float: left;}
.float-r { float: right;}
.float-l img,
.float-r img {
	margin-bottom: 30px;
}
.float-l img { 
	margin-right: 30px;
}
.float-r img {
	margin-left: 30px;
}
.clear, .FloatEnd { clear: both }
/*
==================================================
トップ部分
==================================================
*/
/* トップ
==================================================
*/
#top {
	border-top: 3px solid #359FAB;
	text-align: center;
}
#top #logo, #top h1 {
	height: 38px;
	layout-grid-line: 38px;
	line-height: 38px;
	padding-left: 12px;
}
#top #logo a, #top h1 a {
	color: #666;
	display: table-cell;
	font-weight: 400;
	height: 38px;
	layout-grid-line: 38px;
	line-height: 38px;
	text-decoration: none;
	vertical-align: middle;
}
#top #logo a img, #top h1 a img {
	vertical-align: middle;
}
/* ヘッダー
==================================================
*/
#header {
	background-image: url(img/header.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	height: 200px;
	margin-bottom: 53px;
	text-align: left;
	width: 900px;
}
#header .title,
#header .desc {
	left: 30px;
	line-height: 130%;
	position: relative;
	top: 50px;
	width: 550px;
}
#header .title {
	font-size: 30px;
	font-weight: 700;
}
#header .title a {
	color: #50AFBA;
	text-decoration: none;
}
#header .desc {
	font-size: 12px;
}
/* トップメニュー
==================================================
*/
*:first-child+html body {
padding-left: 1px;
}
#topmenu {
	background-image: url(img/topmenu_bg.png);
	background-position: left top;
	background-repeat: repeat-x;
	left: 50%;
	margin-left: -450px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	top: 241px;
	width: 900px;
}
#topmenu ul {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Verdana,'ＭＳ Ｐゴシック',sans-serif;
	font-weight: 700;
	height: 53px;
	list-style: none none outside;
	overflow: hidden;
	padding: 0;
	position: relative;
}
#topmenu li {
	float: left;
	height: 50px;
	line-height: 50px;
	position:relative;
	right: -1px;
	width: 180px;
}
#topmenu li a {
	border-right: 1px solid #72C9D3;
	color: #FFF;
	display: block;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
}
#topmenu li a:hover {
	background-image: url(img/topmenu_li_bg.png);
	background-position: center top;
	background-repeat: repeat-x;
}
/*
==================================================
メインコンテンツ
==================================================
*/
/* 記事領域
==================================================
*/
#main {
	float: right;
	width: 635px;
}
#main .text, #text1, #text2, #text3, #text4, #text5, #text6, #text7, #text8, #text9, #text10, #space1, #space2 {
	margin-bottom: 25px;
	overflow: hidden;
	padding: 5px;
}
/* 見出し
==================================================
*/
#main h2, #main h3 {
	background-color: #F3F8F9;
	background-image: url(img/h3_bg.png);
	background-position: left top;
	background-repeat: repeat-x;
	border: 1px solid #DBEAEC;
	margin-bottom: 5px;
	overflow: hidden;
}
#main h2 span, #main h3 span {
	background-image: url(img/h3.png);
	background-position: 8px center;
	background-repeat: no-repeat;
	border: 2px solid #FFFFFF;
	color: #50AFBA;
	display: block;
	font-size: 18px;
	padding: 9px 10px 9px 22px;
}
#main .text h3, #text1 h3, #text2 h3, #text3 h3, #text4 h3, #text5 h3, #text6 h3, #text7 h3, #text8 h3, #text9 h3, #text10 h3, #space1 h3, #space2 h3 {
	margin-top: 20px;
}
#main h4 {
	background-color: #F7FBFB;
	border-bottom: 1px solid #DBEAEC;
	margin: 20px auto 10px;
}
#main h4 span {
	border-bottom: 1px solid #FFF;
	color: #50AFBA;
	display: block;
	font-size: 15px;
	padding: 8px 12px;
}
#main h5 {
	border-left: 4px solid #82D6DF;
	color: #50AFBA;
	font-size: 14px;
	line-height: 150%;
	margin: 20px auto 10px;
	padding: 0 6px;
}
#main h6 {
	background-image: url(img/h6.png);
	background-position: left 8px;
	background-repeat: no-repeat;
	color: #50AFBA;
	margin: 5px auto;
	padding: 2px 0 2px 16px;
}
#main .atn02 {
	background-color: #FFFCE1;
	border: 1px solid #FFCF10;
	margin-top: 20px;
	overflow: hidden;
	padding: 8px 15px;
}
#main .atn02 span {
	background-image: url(img/atn_02.png);
	background-position: left -1px;
	background-repeat: no-repeat;
	color: #ED2F04;
	font-weight: bold;
	display: block;
	padding: 1px 0 1px 30px;
}
/*
==================================================
サイドメニュー
==================================================
*/
/* メニュー
==================================================
*/
#menu {
	float: left;
	overflow: hidden;
	width: 215px;
}
#menu ul#newEntry, #menu ul #entryarchive, #rmenu ul#newEntry, #rmenu ul#entryarchive {
	display: block;
	line-height: 140%;
	list-style: none none outside;
	padding: 10px 5px;
}
#menu .rankbox {
	background-color: #F9F9F9;
	font-size: 12px;
	line-height: 150%;
	margin-bottom: 20px;
	padding: 10px;
}
#menu .rankbox img {
	width: 185px;
}
.menubox {
	background-color: #FFF;
	margin-bottom: 20px;
}
.menulist {
	background-color: #F7F7F7;
	padding: 2px 5px 5px;
	overflow: hidden;
}
.menulist ul {
	border-top: 1px solid #EBEBEB;
	list-style: none none outside;
	padding: 0;
}
.menulist li {
	background-color: #FFF;
	border-bottom: 1px solid #EBEBEB;
	border-left: 1px solid #EBEBEB;
	border-right: 1px solid #EBEBEB;
}
.menulist li a {
	background-image: url(img/menu_bg.png);
	background-position: 10px 12px;
	background-repeat: no-repeat;
	color: #50AFBA;
	display: block;
	font-size: 12px;
	font-weight: 700;
	line-height: 130%;
	overflow: hidden;
	padding: 10px 10px 10px 30px;
	text-decoration: none;
	*zoom: 1;
}
.menulist li a:hover {
	background-color: #F7FBFB;
	color: #50AFBA;
	position: static !important;
	text-decoration: underline;
}
.menulist .l2 a {
	background-image: url(img/menu_bg2.png);
	background-position: 20px 14px;
	font-weight: normal;
	padding-left: 32px;
}
.menulist .l3 a {
	background-image: url(img/menu_bg2.png);
	background-position: 30px 14px;
	font-weight: normal;
	padding-left: 42px;
}
#menu .title, #rmenu .title, #menu h4, #rmenu h4 {
	background-image: url(img/menu_h4_bg_b.png);
	background-position: center bottom;
	background-repeat: repeat-x;
	overflow: hidden;
	padding-bottom: 3px;
}
#menu .title span, #rmenu .title span, #menu h4 span, #rmenu h4 span {
	background-color: #8FD2DA;
	background-image: url(img/menu_h4_bg.png);
	background-position: center top;
	background-repeat: repeat-x;
	color: #FFF;
	display: block;
	padding: 8px 12px 7px;
	position: relative;
}
/* バナー領域
==================================================
*/
.bannerbox {
	background-color: #FFF;
	margin-bottom: 10px;
}
.bannerbox ul {
	list-style: none none outside;
	padding: 5px;
}
.bannerbox li {
	margin-bottom: 5px;
}
.bannerbox li a {
	font-size: 15px;
}
.bannerbox li a img {
	vertical-align: bottom; 
}
/* 最新記事・アーカイブ
==================================================
*/
ul#newEntry li, ul#entryarchive li {
	background-image: url(img/menu_bg2.png);
	background-position: left 5px;
	background-repeat: no-repeat;
	list-style-image: none;
	list-style-type: none;
	padding-left: 12px;
	margin-bottom: 8px;
}
/*
==================================================
フッター
==================================================
*/
#footer {
	background-image: url(img/wrapper_bg.png);
	background-position: center top;
	background-repeat: repeat-y;
	margin: 0 auto;
	text-align: center;
	width: 906px;
}
#footer .inner {
	background-color: #F8F8F8;
	background-image: url(img/footer_bg.png);
	background-position: center top;
	background-repeat: repeat-x;
	border-top: 2px solid #62BBC5;
	color: #8C8C8C;
	font-size: 12px;
	margin: 0 auto;
	padding-top: 10px;
	text-align: center;
	width: 900px;
}
#footer a {
	color: #50AFBA;
}
#footer p {
	overflow: hidden;
	padding: 10px 0 20px 0;
	text-align: center;
}
#footlink {
	display: table;
	font-size: 0;
	letter-spacing: -.40em;
	line-height: 0;
	margin: 0 20px;
	padding-top: 10px;
	text-align: center;
	width: 860px;
}
#footlink span {
	border-left: 1px solid #BFBFBF;
	display: inline-block;
	margin-bottom: 5px;
	margin-left: -1px;
	*margin-left: -2px;
	*display: inline;
	*zoom: 1;
}
#footlink a {
	background-color: #F8F8F8;
	border-right: 1px solid #BFBFBF;
	display: inline-block;
	letter-spacing: normal;
	line-height: 1;
	font-size: 12px;
	padding: 0 15px;
	*display: inline;
	*zoom: 1;
}
#footsub {
	padding: 10px 0 0 0 !important;
}
#footsub a {
	margin: 0 15px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
#footermenu {
	text-align: center;
	padding: 0 10px;
}
#footermenu span {
	margin: 0;
	padding: 0 10px;
}
#footermenu a {
	background-image: url(img/menu_bg2.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 0 10px;
}

/*
==================================================
トップページ
==================================================
*/
#whatsnew {
	border: 1px solid #E0E0E0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 10px;
	position: relative;
}
#whatsnew .title {
	border-bottom: 1px solid #E0E0E0;
	color: #5C5C5C;
	font-size: 16px;
	overflow: hidden;
}
#whatsnew .title p {
	background-color: #F3F3F3;
	background-image:url(img/whatsnew_title_bg.png);
	background-position: left top;
	background-repeat: repeat-x;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
}
#whatsnew .title span{
	background-image:url(img/whatsnew_title.png);
	background-position: 12px 11px;
	background-repeat: no-repeat;
	border: 2px solid #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: block;
	padding: 7px 10px 7px 39px;
	position: relative;
}
#whatsnew ul {
	list-style: none none outside;
	padding: 9px;
}
#whatsnew ul li {
	border-bottom: 1px dotted #CDCDCD;
	font-size: 12px;
	padding: 8px 10px;
}
#whatsnew ul li span {
	background-image: url(img/menu_bg3.png);
	background-position: left 8px;
	background-repeat: no-repeat;
	display: block;
	padding-left: 12px;
}

/*
==================================================
カテゴリーページ
==================================================
*/
#categorylist {
	padding-top: 10px;
}
#categorylist .catbox {
	margin-bottom: 40px;
	overflow: hidden;
	padding: 0 5px;
	_height: 1%;
}
#categorylist .thumb {
	float: left;
	padding: 0 20px 10px 10px;
}
#categorylist .thumb img {
	vertical-align: bottom;
}
#categorylist p {
	line-height: 135%;
	padding: 0 10px;
}
#categorylist .more {
	float: right;
	margin-top: 10px;
	padding-right: 10px;
	_height: 1%;
}
#categorylist .more a {
	background-image: url(img/button_more2.png);
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 18px;
}
#categorylist .title {
	background-color: #F2F9FA;
	background-image: url(img/category_title_bg.png);
	background-position: left top;
	background-repeat: repeat-x;
	border-bottom: 1px dotted #DAEDEF;
	border-top: 1px solid #50AFBA;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 20px;
	overflow: hidden;
}
#categorylist .title a {
	background-image: url(img/category_title.png);
	background-position: 13px 13px;
	background-repeat: no-repeat;
	display: block;
	padding: 9px 10px 9px 40px;
}
#pagelist {
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
}
#pagelist li {
	display: inline;
	list-style-type: none;
}
#pagelist a {
	background-color: #EBEBEB;
	color: #595959;
	display: inline-block;
	padding: 2px 10px;
	text-align: center;
	text-decoration: none;
	width: 20px;
}
#pagelist a:hover {
	background-color: #50AFBA;
	color: #FFF;
}
/*
==================================================
エントリーページ
==================================================
*/
#entrylist {
	background-color: #F9F9F9;
	margin-bottom: 20px;
	padding: 0 10px 10px;
}
#entrylist .inner {
	overflow: hidden;
	text-align: left;
}
#entrylist h4 {
	background-color: #F9F9F9;
	border-bottom: none;
	margin: 0;
	padding: 12px 10px 12px 8px;
}
#entrylist h4 span {
	background: url(img/entry_title.png);
	background-position: left 5px;
	background-repeat: no-repeat;
	border-bottom: none;
	color: #5C5C5C;
	display: block;
	font-size: 16px;
	padding: 0 0 0 32px;
}
#entrylist dl {
	background-color: #FFF;
	font-size: 12px;
	overflow: hidden;
}
#entrylist dt {
	padding: 10px 15px 5px 0;
}
#entrylist dt a {
	background: url(img/category_title.png);
	background-position: 10px 4px;
	background-repeat: no-repeat;
	display: inline-block;
	font-weight: 700;
	line-height: 150%;
	padding: 2px 0 2px 30px;
	*display: inline;
	*zoom: 1;
}
#entrylist dd {
	border-bottom: 1px dotted #CDCDCD;
	line-height: 150%;
	padding: 0 15px 10px 30px;
}
#searchresult {
	margin-bottom: 25px;
	overflow: hidden;
	padding: 5px;
}
#pagemenu {
	margin-bottom: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}
#pagemenu span a {
	font-size: 14px;
	font-weight: 700;
	margin-left: 10px;
	margin-right: 10px;
	width: 150px;
}
/*
==================================================
サイトマップページ
==================================================
*/
#sitemaps ul {
	margin: 0;
	padding: 5px 15px;
}
#sitemaps li {
	background-image: url(img/menu_bg2.png);
	background-position: left 9px;
	background-repeat: no-repeat;
	list-style-image: none;
	list-style-type: none;
	padding-left: 12px;
}
#sitemaps .l1 {
	font-size: 16px;
	font-weight: 700;
	margin-top: 8px;
}
#sitemaps .l2 {
	font-size: 12px;
	margin-left: 25px;
}
#sitemaps .l3 {
	font-size: 12px;
	margin-left: 50px;
}
/*
==================================================
フリースペース
==================================================
*/
#space1, #space2 { margin-bottom: 25px }
#space3, #space4, #space5, #space6 {
	line-height: 130%;
	padding: 5px;
}
/*
==================================================
ブログモード
==================================================
*/
.blog {
	border-bottom-color: #CCC;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	margin-bottom: 15px;
	overflow: hidden;
	padding: 10px;
}
.blog .thumb {
	float: left;
	margin-right: 15px;
}
.blog .thumb img { width: 125px; }
.blog .title {
	color: #333;
	font-size: 15px;
	line-height: 140%;
	margin-bottom: 5px;
}
.blog .title a { color: #333; }
.blog .info {
	color: #666;
	margin-bottom: 5px;
}
.blog .info a { color: #666; }
.blog .body {
	line-height: 150%;
	overflow: hidden;
}
.blog .more {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 8px;
	margin-top: 8px;
	text-align: right;
}
/*
==================================================
サイト内検索
==================================================
*/
#searchresult dd {
	border-bottom-color: #CCC;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	line-height: 130%;
	margin: 0 0 10px;
	padding-bottom: 15px;
}
#searchresult dt { font-size: 14px; }
/*
==================================================
ポイント
==================================================
*/
#main .point1, #main .point2, #main .point3, #main .point4, #main .point5, #main .point6, #main .point7, #main .point8, #main .point9, #main .point10 {
	background-position: left top;
	background-repeat: no-repeat;
	color: #50AFBA;
	font-size: 18px;
	font-style: italic;
	font-weight: 700;
	height: auto;
	line-height: 140%;
	margin-bottom: 3px;
	margin-top: 15px;
	padding: 8px 0 8px 50px;
	*zoom: 1;
}
.point1 { background-image: url(img/point1.png); }
.point2 { background-image: url(img/point2.png); }
.point3 { background-image: url(img/point3.png); }
.point4 { background-image: url(img/point4.png); }
.point5 { background-image: url(img/point5.png); }
.point6 { background-image: url(img/point6.png); }
.point7 { background-image: url(img/point7.png); }
.point8 { background-image: url(img/point8.png); }
.point9 { background-image: url(img/point9.png); }
.point10 { background-image: url(img/point10.png); }
/*
==================================================
ランキング
==================================================
*/
/* メインコンテンツ用ランキング
==================================================
*/
#main .point1, #main .point2, #main .point3, #main .point4, #main .point5, #main .point6, #main .point7, #main .point8, #main .point9, #main .point10 { border: none; }
#main .rank1, #main .rank2, #main .rank3, #main .rank4, #main .rank5, #main .rank6, #main .rank7, #main .rank8, #main .rank9, #main .rank10 { border: none; height: auto; }
#main .rank {
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
}
#main .rank-container {
	background-color: #FCFCFC;
	border: 1px solid #E2E4E9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px 25px 20px;
	position: relative;
}
#main .rank-inner {
	overflow: hidden;
}
#main .rank1,#main .rank2,#main .rank3,#main .rank4,#main .rank5,#main .rank6,#main .rank7,#main .rank8,#main .rank9,#main .rank10{
	background-position: left 6px;
	background-repeat: no-repeat;
	border: medium none;
	color: #50AFBA;
	font-size: 24px;
	height: auto;
	line-height: 130%;
	margin-bottom: 6px;
	margin-top: 6px;
	min-height: 20px;
}
#main .rank .rank1,#main .rank .rank2,#main .rank .rank3,#main .rank .rank4,#main .rank .rank5,#main .rank .rank6,#main .rank .rank7,#main .rank .rank8,#main .rank .rank9,#main .rank .rank10 {
	margin: 0;
}
#main .rank1,#main .rank2,#main .rank3{
	padding: 20px 0 20px 80px;
}
#main .rank4,#main .rank5,#main .rank6,#main .rank7,#main .rank8,#main .rank9,#main .rank10{
	padding: 20px 0 20px 70px;
}
.rank1 { background-image: url(img/rank1.png); }
.rank2 { background-image: url(img/rank2.png); }
.rank3 { background-image: url(img/rank3.png); }
.rank4 { background-image: url(img/rank4.png); }
.rank5 { background-image: url(img/rank5.png); }
.rank6 { background-image: url(img/rank6.png); }
.rank7 { background-image: url(img/rank7.png); }
.rank8 { background-image: url(img/rank8.png); }
.rank9 { background-image: url(img/rank9.png); }
.rank10 { background-image: url(img/rank10.png); }
#main .rankbox {
	overflow: hidden;
	padding: 5px 1px 0;
}
#main .rankbox .rankbox-inner {
	overflow: hidden;
}
#main .rankbox .feature {
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
}
#main .rankbox .feature span {
	background-color: #62BBC5;
	color: #FFF;
	display: block;
	font-weight: 700;
	padding: 3px 14px;
}
#main .rankbox .float-l img, #main .rankbox .float-r img {
	padding: 0 !important;
}
#main .rankbox .rankbox-inner p {
	color: #4E4E4E;
	font-size: 12px;
	line-height: 160%;
	overflow: hidden;
	padding-bottom: 10px;
}
#main .rankbox .rank-table {
	clear: both;
	font-size: 12px;
	width: 100%;
}
#main .rankbox .rank-table th, #main .rankbox .rank-table td {
	border: 1px solid #BFD7D9;
	padding: 5px;
	text-align: center;
	width: 33%;
	vertical-align: middle;
}
#main .rankbox .rank-table th {
	background-color: #E8F4F5;
	color: #50AFBA;
}
#main .rankbox .rank-table td {
	color: #4E4E4E;
}
#main .rank .comment {
	padding-top: 30px;
}
#main .rank .comment .comment-inner {
	background-color: #FFF;
	border: 3px solid #FFD970;
	padding: 4px 18px 5px 18px;
	position: relative;
}
#main .rank .comment .comment-tit {
	border-bottom: 1px dotted #FFD37F;
	margin-bottom: 10px;
}
#main .rank .comment .comment-tit span {
	background-image: url(img/comment_bg.png);
	background-position: left top;
	background-repeat: no-repeat;
	color: #FFBB00;
	display: block;
	font-size: 18px;
	font-weight: 700;
	line-height: 130%;
	margin-left: -12px;
	padding: 14px 0 14px 62px;
	position: relative;
	*zoom: 1;
}
#main .rank .comment p {
	color: #4E4E4E;
	padding-bottom: 10px;
}
#main .rank .more {
	padding: 24px 0 5px;
	text-align: center;
}
#main .rank .more a img {
	margin: 5px 12px;
	vertical-align: bottom;
}
/* メニュー用ランキング
==================================================
*/
#menu .rank1,#menu .rank2,#menu .rank3,#menu .rank4,#menu .rank5{
	background-position: left top;
	background-repeat: no-repeat;
	border: none;
	color: #50AFBA;
	font-size: 14px;
	font-weight: 700;
	height: auto;
	line-height: 130%;
	margin: 0;
	padding: 22px 0 12px 76px;
}
#menu .rank1 { background-image: url(img/rank1.png); }
#menu .rank2 { background-image: url(img/rank2.png); }
#menu .rank3 { background-image: url(img/rank3.png); }
#menu .rank4 { background-image: url(img/rank4.png); }
#menu .rank5 { background-image: url(img/rank5.png); }
/*
==================================================
１カラムレイアウト
==================================================
*/
#column1 {
	padding: 17px 15px 0;
	text-align: center;
}
#column1 #menu, #column1 #main {
	float: none;
	width: auto;
}
#column1 #main {
	padding-bottom: 20px;
}
#column1 #menu .menulist ul {
	border-top: medium none;
	padding: 10px;
}
#column1 #menu li {
	background: none;
	border: none;
	display: inline;
	margin: 0;
	padding: 0;
	position: static;
	white-space: nowrap;
}
#column1 #menu li a , #column1 #menu #newEntry li a {
	background: none repeat scroll 0 0 transparent;
	border: none;
	color: #666;
	display: inline;
	font-weight: 400;
	margin: 0;
	text-decoration: underline;
}
#column1 #menu li a:hover , #column1 #menu #newEntry li a:hover {
	position: relative !important;
	text-decoration: none;
}
#column1 #menu li a, #column1 #menu li.l2 a, #column1 #menu li.l3 a {
	margin: 0 5px;
	padding: 0 5px;
}

/*
==================================================
２カラムレイアウト
==================================================
*/
#column2 {
	padding: 17px 15px 0;
	text-align: center;
}
/*
==================================================
３カラムレイアウト
==================================================
*/
#column3 {
	padding: 17px 15px 0;
	text-align: center;
}
#contents:after {
	content:"";
	display:block;
	height:0;
	clear:both;
	font-size:0;
	line-height:0;
	visibility:hidden;
}
#contents {
	width:100%;
}
#column3 #layoutbox {
	background-position: left top;
	background-repeat: repeat-y;
	float: left;
	width: 635px;
}
#column3 #main {
	float: right;
	width: 400px;
}
#rmenu {
	float: right;
	overflow: hidden;
	width: 215px;
}
/*
==================================================
飾り枠
==================================================
*/
.txt-decbox1  .top{
	height: 14px;
	background-position: left top;
	background-image: url(img/decbox1.png);
	background-repeat: no-repeat;
	margin: 0 auto 0 auto;
	padding: 0 50px 0px 50px;
}
.txt-decbox1  .body{
	width: 800px;
	_width: auto;
	background-image: url(img/dec1_body.png);
	background-position: left center;
	background-repeat: repeat-y;
	margin: 0;
	padding: 10px 30px 10px 30px;
}
.txt-decbox1  .bottom{
	height:10px;
	background-image: url(img/decbox1.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-bottom: 10px;
}
.txt-decbox1 p {
	margin: 0;
	padding: 0px 10px;
}
.txt-decbox2  .top{
	height:6px;
	background-image: url(img/decbox2.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0;
	padding: 0 50px 0px 50px;
}
.txt-decbox2  .body{
	width: 800px;
	_width: auto;
	background-image: url(img/dec2_body.png);
	background-repeat: repeat-y;
	margin: 0;
	padding: 10px 30px 10px 30px;
}
.txt-decbox2  .bottom{
	height:10px;
	background-image: url(img/decbox2.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.txt-decbox2 p {
	margin: 0;
	padding: 0px 10px;
}
/*
==================================================
レイアウト切り替え用スタイル(後で削除)
==================================================
*/
#column1 #rmenu, #column2 #rmenu, #column1 #space3, #column1 #space4,#column1 .bannerbox,#column1 #submenu { display: none; }
#header { margin-bottom:0px; }
#header .desc {
font-size: 18px;

}body{

font-size: 18px;
}
#header{ height: 0px;
	display:none;; }
#headerbox {display:none; }
#header h2 ,#header .title {
font-size: 18px;
}
#header h2 a, #header h2 a:visited,#header .title a,#header .title a:visited{}
#headertext {
font-size: 18px;

}
#submenu img{
max-width:100%;
height:auto;
}
#topmenu{top: 41px;}
#main{ float: right; }
#column2 #menu,#column3 #menu{ float: left; }
#column3 #rmenu { float: right; }
#column3 #layoutbox { float: left; }
#column3 #main { float: right; }
/*
#wrapper{}
#topmenu{}
#threebox{}
#main{}
#menu{}
#rmenu{}
*/
body,footer,#footer,#footer > div{font-family: 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro','HGP創英角ｺﾞｼｯｸUB', 'ヒラギノ角ゴ Pro W6', sans-serif;font-weight:normal;}
h1,h2,h3,h4,h5,h6,.title,dt,h3 > span,h4 > span,h5 > span,h6 > span,.title > span,div[id$="menu"] h4,div[id$="menu"] .title,#indexlist .title{font-family: 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro','HGP創英角ｺﾞｼｯｸUB', 'ヒラギノ角ゴ Pro W6', sans-serif !important;font-weight:normal;}
#entrylist h4,#entrylist h4::before{font-family: 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro','HGP創英角ｺﾞｼｯｸUB', 'ヒラギノ角ゴ Pro W6', sans-serif;font-weight:normal;}
.rank1,.rank2,.rank3,.rank4,.rank5,.rank6,.rank7,.rank8,.rank9,.rank10,.point,.point1,.point2,.point3,.point4,.point5,.point6,.point7,.point8,.point9,.point10{font-family: 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro','HGP創英角ｺﾞｼｯｸUB', 'ヒラギノ角ゴ Pro W6', sans-serif !important;font-weight:normal;}
#text1,#text2,#text3,#text4,#text5,#text6,#text7,#text8,#text9,#text10,#space1,#space2{font-family: 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro','HGP創英角ｺﾞｼｯｸUB', 'ヒラギノ角ゴ Pro W6', sans-serif;font-weight:normal;}
