@charset "UTF-8";

/* ===================================
	File Name   : footermenu.css
	Description : footermenu Page Layout CSS
====================================== */

/*========== Style Contents ==========

	1. Main Contents Setting
	*. Clear Fix

====================================== */





/*===== ■1. Main Contents Setting =====*/
#footer_menu_page #main_contents h1 {
	margin-bottom: 7px;
  	font-size: 120%;
   /* font-weight: bold; */
}


#footer_menu_page #main_contents .entry {

	margin-bottom: 7px;
	margin-left: 10px;
	margin-right: 20px;
  	font-size: 105%;
  	line-height: 150%;
}

#footer_menu_page #main_contents .entry h2 {

	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 20px;
  	font-size: 120%;

  	line-height: 150%;
	font-weight: bold;
	border-bottom: 4px solid #0059B2;
	color: #0059B2;

	padding: 4px 0 4px 2px;
}

#footer_menu_page #main_contents .entry h3 {

	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 20px;
  	font-size: 110%;
  	line-height: 150%;
	font-weight: bold;
	color: #555;
	border-left: 4px solid #aaa;
	background-color: #f5f5f5;

	padding: 8px 0 6px 10px;
}

#footer_menu_page #main_contents .entry  p  {

	margin-bottom: 7px;
	margin-left: 15px;
	margin-right: 20px;
  	font-size: 100%;
  	/*line-height: 120%;*/
  	line-height: 1.8;
}

#footer_menu_page #main_contents .entry  ul  {

	margin-bottom: 7px;
	margin-left: 15px;
	margin-right: 20px;
  	font-size: 100%;
  	/*line-height: 120%;*/
  	  	line-height: 1.8;
}

#footer_menu_page #main_contents .entry  ol  {

	margin-bottom: 7px;
	margin-left: 15px;
	margin-right: 20px;
  	font-size: 100%;
  	/*line-height: 120%;*/
  	  	line-height: 1.8;
}

#footer_menu_page #main_contents .entry li  {

	margin-bottom: 7px;
	margin-left: 15px;
	margin-right: 20px;
  	/*font-size: 100%;*/
  	/*line-height: 120%;*/
  	  	line-height: 1.8;
}
#footer_menu_page #main_contents .entry  ul li  {
	list-style-type: disc;
}

#footer_menu_page #main_contents .entry em {
	background: #ffdf83;
	color: #d83300;
	font-weight: bold;
	font-size: 100%;
}

#footer_menu_page dl.wp_contents {
	width: 700px;
	margin-bottom: 10px;
	background: url(../img/common/bg-contents-body.jpg) repeat-y;
}
#main_contents dl.wp_contents dd {
    background: url("../img/top/bg-search-bottom.jpg") no-repeat scroll center bottom transparent;
    padding-bottom: 45px;
}

#footer_menu_page dl.wp_contents dt {
	padding-bottom: 35px;
	background: url(../img/common/bg-contents-head.jpg) no-repeat;
}

#footer_menu_page dl.wp_contents dt h2.contents_title {
	margin-bottom: 7px;
  	font-size: 150%;
	float: left;
	color: #0059b2;
	margin: 18px 0px 0px 1px;
	padding-left: 33px;
	font-weight: bold;
	background: url(../img/common/mark-square-pink.gif) no-repeat 0px center;
}

#footer_menu_page dl.wp_contents dt img.contents_title {
	float: left;
	margin: 18px 0px 0px 1px;
	padding-left: 33px;
	background: url(../img/common/mark-square-pink.gif) no-repeat 0px center;
}

#footer_menu_page dl.wp_contents dt img.contents_title_en {
	float: right;
	margin: 20px 22px 0px 0px;
}

#footer_menu_page dl.wp_contents dd {
	padding-bottom: 13px;
	background: url(../img/common/bg-contents-bottom.jpg) no-repeat bottom;
}

#footer_menu_page dl.wp_contents dd .wp_contents_result {
	width: 656px;
	margin: 0px 0px 45px 2px;
	padding: 0px 20px 30px;
	border-bottom: 1px solid #e5e5e5;
}

#footer_menu_page dl.wp_contents dd #wp_contents_no3 {
	margin-bottom: 0px;
	padding-bottom: 20px;
	border: none;
}

#footer_menu_page dl.wp_contents dd .wp_contents_result h2 {
	display: block;
	width: 656px;
	height: 60px;
	margin-bottom: 25px;
	background: url(../img/feature/bg-wp_contents-title.jpg) no-repeat;
}

#footer_menu_page dl.wp_contents dd .wp_contents_result h2 img {
	float: left;
	margin-left: 20px;
}
#footer_menu_page dl.wp_contents dd #wp_contents_no2 h3 img { margin-left: 17px;}
#footer_menu_page dl.wp_contents dd #wp_contents_no3 h3 img { margin-left: 27px;}

#footer_menu_page dl.wp_contents dd .wp_contents_result h2 a {
	float: left;
	margin: 15px 0px 0px 40px;
	color: #ffffff;
	font-weight: bold;
	font-size: 154%;
}
#footer_menu_page dl.wp_contents dd #wp_contents_no2 h3 a { margin-left: 37px;}
#footer_menu_page dl.wp_contents dd #wp_contents_no3 h3 a { margin-left: 43px;}

#footer_menu_page dl.wp_contents dd .wp_contents_result .server_caption img {
	float: left;
	margin: 0px 20px 20px 0px;
}

#footer_menu_page dl.wp_contents dd .wp_contents_result .server_caption strong {
	display: block;
	margin-bottom: 15px;
	color: #d83300;
	font-weight: bold;
	font-size: 154%;
	line-height: 150%;
}

#footer_menu_page dl.wp_contents dd .wp_contents_result .server_caption p {
	margin-bottom: 20px;
	font-size: 105%;
	line-height: 180%;
}

#footer_menu_page dl.wp_contents dd .wp_contents_result .server_caption em {
	background: #ffdf83;
	color: #d83300;
	font-weight: bold;
	font-size: 100%;
}

#footer_menu_page dl.wp_contents dd .wp_contents_result table {
	width: 656px;
	margin-bottom: 20px;
	border: 1px solid #c9e7ff;
}

#footer_menu_page dl.wp_contents dd .wp_contents_result th {
	width: 120px;
	padding: 10px 5px 10px 25px;
	background: #c9e7ff url(../img/common/mark-drop-white.png) no-repeat 10px center;
}

#footer_menu_page dl.wp_contents dd .wp_contents_result td {
	width: 155px;
	padding: 10px 5px 10px 15px;
}

#footer_menu_page dl.wp_contents dd .wp_contents_result th,
#footer_menu_page dl.wp_contents dd .wp_contents_result td {	border-bottom: 1px solid #e4f3ff;}

#footer_menu_page dl.wp_contents dd .wp_contents_result tr.last_tr th,
#footer_menu_page dl.wp_contents dd .wp_contents_result tr.last_tr td { border-bottom: none;}

#footer_menu_page dl.wp_contents dd .wp_contents_result a.official_site {
	display: block;
	width: 310px;
	height: 60px;
	margin: 0px auto;
}

#footer_menu_page p#wp_contents_notice { margin: 0px 0px 30px 10px;}


#footer_menu_page div.entry dt {background:none; padding-bottom: 0;}
#footer_menu_page div.entry dd {background:none;}

/*===== ■*.Clear Fix  =====*/
#footer_menu_page dl.wp_contents dd .wp_contents_result h3:after,
#footer_menu_page dl.wp_contents dd .wp_contents_result .server_caption:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	font-size: 0;
	content: " ";
}
.entry img{
	display: block;
	margin: 0 auto;
}